#triggerButton {
 background-color:green;
 padding:1cm;
 margin:1cm;
}

#triggerButton:hover {
 background-color:black;
 color:green;
}

#callButton {
 background-color:red;
 padding:1cm;
 margin:1cm;
}

#callButton:hover {
 background-color:black;
 color:red;
}

h1 {
    font-family:Arial,Helvetica, sans-serif;
}
    
